
/* hero */


/* buttons */
.button-main {

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: inline-block;
    padding: 10px 32px;
    border: 0px;
    min-width: 200px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: var(--accent-color);
    color: var(--primary-bcg);
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
    background-color: var(--hover-color);
    color: var(--primary-bcg);
}

/* portfolio buttons */

.portfolio-button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;
    color: var(--primary-head-text);
    background-color: var(--team-bcg);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--hover-color);
    color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.filter-item {
    width: calc ((100% - 32px) / 5);
    margin-right: 8px;
}

.filter-item:nth-child(5n) {
    margin-right: 0px;
}


/* links */






.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}



.list.activities {
    display: flex;
    justify-content: center;
    
}

.list.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list.project {
    border-top: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
}








/* advantages */










.portfolio-description {
    color: var(--secondary-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    
}

.project-item {
    width: calc((100% - 60px) / 3);

    margin-right: 30px;
    margin-bottom: 30px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.project-item:nth-child(3n) {
    margin-right: 0px;

}

.project-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.grid-card {

    border: 1px solid #eeeeee;
    border-top: 0px;
    padding: 20px 24px;
}
.grid-card-wrap {
    position: relative;
    overflow: hidden;
    
    
}
.grid-card-link:hover .grid-card-text {
    transform: translateY(0);
}
.grid-card-link:focus .grid-card-text {
    transform: translateY(0);
}
.grid-card-text {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
    padding: 63px 24px;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);           
}

.grid-card-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.grid-card-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);;
    transition-property: box-shadow;
    
}
.grid-card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);;
    transition-property: box-shadow;
    
}



/* footer */
.footer-main {
    background-color: var(--dark-bcg);
    padding: 60px 0;
}

.invite-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: left
}
.footer {
    display: flex;
    align-items: baseline;
    
}
.social-list {
    display: flex;
    
    
}
.social_item {
    width: calc((100 - 30px) / 4);
    margin-right: 10px;
}
.social_item:nth-child(4n) {
    margin-right: 0px;
}
.social_item_link {
    display: flex;
    color: var(--primary-bcg);
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social_item_link:hover,
.social_item_link:focus {
    color: #ffffff;
    background-color: #2196F3;
    overflow: hidden;
    border-radius: 50%;
    

}
.social-icon {
    width: 20px;
    height: 20px;
    
    fill: currentColor;

}


.footer-center {
    margin-left: 70px;

}



.address-item {
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0px;
}

.list-item {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}



.footer-right {
    
    margin-left: 93px;
    width: auto;
}
.subscribe-form {
    display: flex;
    
}
.subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.subscribe-button {
    
    display: flex;
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    
    
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 29px;
    
}
.subscribe-button:hover,
.subscribe-button:focus {
    border: 1px solid var(--hover-color);
    
}

.subscribe-input {
    
    margin-right: 12px;
    padding: 15px;
    color: #ffffff;
    height: 50px;
    /* outline-color: var(--secondary-text); */
    width: 358px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.subscribe-input::placeholder {
    color: var(--secondary-text);
}
.subscribe-icon {
    
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: currentColor;
    
    
}