.list.adv {
    display: flex;
}

.adv__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

    &:nth-child(4n) {
        margin-right: 0px;
    }
}

.adv-thumb {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 25px;
}

.adv-icon {
    width: 70px;
    height: 70px;
}

.advantage {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
    color: var(--primary-head-text);
}

.advantage-description {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text);
}