.clients-list {
    display: flex;
}

.client-item {
    width: calc((100% - 150px) /6);
    margin-right: 30px;

    &:nth-child(6n) {
        margin-right: 0px;
    }
}

.client-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.client-link {
    height: 92px;
    width: 170px;
    border: 1px solid var(--clients-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clients-color);
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--hover-color);
        border: 1px solid var(--accent-color);
    }
}