.header-title {
    /* padding-top: 203px; */
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;


    color: var(--primary-bcg);
    text-transform: uppercase;
}

.main-title {
    background-color: var(--dark-bcg);
    text-align: center;
    padding: 200px 0;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/layout.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;


}